/* Reset*/
* {box-sizing: border-box}
body{
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
input{
    outline: none;
}
h1, h2, h3, h4, h5,h6{
    margin: 0;
}

/* Header Container*/
.title{
    color: #0F0F2D;
}
.header_container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.header_btn{
    padding: 8px 12px;
    color: white;
    background-color: #555A88;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms transform ease-in-out;
}
.header_btn:hover{
    filter: brightness(1.2);
}
/*Card Users container*/
.users_container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.linea {
    border-top: 2px solid #e5e5e5;
    height: 2px;
    padding: 5px 0px 0px 0px;
    margin: 20px auto 0 auto;
    margin: 0;
}

/*Card Users*/
.user{
    border:2px solid #e5e5e5;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    transition: 200ms box-shadow ease-in-out;
    
}
.user:hover{
    box-shadow: 0px 0px 5px gray;
    
}
.user_title{
    margin-bottom: 10px;
}
.user_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.user_item{
    margin-bottom: 10px;
}
.user_item span{
    color: #D3D3D3;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.user_item span i{
    color: black;
    margin-top: 4px;
    
}
.user_container_btn{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.user_btn:hover{
    transform: scale(1.1);
}
.user_btn{
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.user_btn:first-child{
    background-color: #D85D5D;
    border-color: #D93F3F;
    color: #FFF;
}
.user_btn:last-child{
    border-color: #D3D3D3;
    color: #aaa;
}
/*Modal*/
.container_form{
    position: fixed;
    background-color: #0003;
    backdrop-filter: blur(1px);
    z-index: 2;
    top: 0;
    min-height: 100vh;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container_form.disable_form{
    display: none;
}
/*Form*/
.form{
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    max-width: 350px;
    position: relative;
    
    
}

.form_title{
    font-size: 25px;
    padding-top: 15px;
}
.form_div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    

}
.form_label{
    font-size: 15px;
    padding: 5px;
}
.form_input{
    font-family: inherit;
    padding: 8px 10px;
    background-color: #F9FAFC;
    border: 1px solid #C3C1C1;
    border-radius: 4px;
    font-size: 15px;
}
.form_btn{
    width: 100%;
    padding: 8px 12px;
    color: white;
    background-color: #555A88;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 200ms transform ease-in-out;
    
}
.form_btn:hover{
    filter: brightness(1.2);
}
.form_x{
    position: absolute;
    color: #D93F3F;
    font-size: 30px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 150ms transform ease-in-out;
}
.form_x:hover{
    transform: scale(1.1);
}